body {
  background: black;
}

.gamefield {
  background: green;
  position: absolute;
}

.gamefield > div {
  position: absolute;
}

.gamefield .wall {
  background: brown;
}
.gamefield .snake {
  background: black;
  border-radius: 5px;
}
