body {
  background: black;
}

.gamefield {
  background: green;
  position: absolute;
}

.gamefield > div {
  position: absolute;
}

.gamefield .wall {
  background: brown;
}
.gamefield .food {
  background: yellow;
  border-radius: 100px;
}
.gamefield .snake {
  background: black;
}

.gamefield .snake.left {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.gamefield .snake.right {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.gamefield .snake.down {
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.gamefield .snake.up {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
